extends layout

block content
  h1 Top 10 Trends in #{location}
  p Click corresponding buttons to view either images or news articles related to each trend. 
  each trend in trending
    .item
        button.trend #{'#' + trend}

  script(src='/javascripts/summary.js')